<!DOCTYPE html>
<html>
    <head lang="en">
        <title>{{ package.name }}</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p><a href="/"><u>List all</u></a><p>
		<h1>{{ package.name }}</h1>
		<p>{{ package.description }}</p>
		<h2> Dependencies </h2>
        <ul>
            {% for dependency in package.dependencies %}
            <li><a href="/{{ dependency }}"> {{ dependency }} </a></li>
            {% endfor %}  
		</ul>
		<h2> Reverse dependencies </h2>
		<ul>
            {% for reverseDependency in package.reverseDependencies %}
            <li><a href="/{{ reverseDependency }}"> {{ reverseDependency }} </a></li>
            {% endfor %}  
        </ul>
    </body>
</html>