<!DOCTYPE html>
<html>
    <head lang="en">
        <title>{{ package.name }}</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p><a href="/"><u>List all</u></a><p>
		<h1>{{ package.name }}</h1>
		<p>{{ package.description }}</p>
		<h2> Dependencies </h2>
        <ul>
            {% for depend in package.depends %}
            <li><a href="/{{ depend }}"> {{ depend }} </a></li>
            {% endfor %}  
		</ul>
		<h2> Reverse dependencies </h2>
		<ul>
            {% for rdepend in package.rdepends %}
            <li><a href="/{{ rdepend }}"> {{ rdepend }} </a></li>
            {% endfor %}  
        </ul>
    </body>
</html>